/* pages/login/login.wxss */
.container{
  display: flex;
  width: 100vw;
  height: 800px;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  background-color: #efefef;
}
.flex-item{

    width: 100vw;
    margin: 2rpx;
    display: flex;
    flex-direction: row;  /* 垂直排列子元素 */
    justify-content: center; /* 垂直居中 */

    white-space: nowrap;
}
.item0{
  background-color: #efefef;
  flex:1;
  align-items: center;     /* 水平居中 */
  font-size: 40rpx;
}
.item1{
  background-color: #efefef;
  flex:1;
  align-items: center;     /* 水平居中 */
}
/* 在 Label 底部添加自适应下划线 */
.item1 {
  position: relative;
  padding-bottom: 0rpx;  /* 为下划线留出空间 */
}
.item1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 30rpx;
  width: 100%;
  height: 2rpx;
  background-color: #ddd;  /* 默认下划线颜色 */

}

/* 焦点状态 */
.item1:focus-within::after {
  background-color: #a5d1a4;  /* 聚焦时颜色 */
}
.item2{
  background-color: #efefef;
  flex:4;
  align-items: flex-start;     /* 水平居中 */
}
.item3{
  background-color: #efefef;
  flex:4;
  align-items: flex-end;     /* 水平居中 */
}
.weui-input {
  border: 1px solid #efefef;
  border-radius: 10rpx;      /* 使用rpx单位适配不同屏幕 */
  padding: 16rpx 20rpx;
  width: 100%;
  font-size: 16px;
  background-color:#efefef;
}